/*HEADER*/
.header .logo img h1 {
  font-size: 24px;
  font-weight: 700;
  color: black;
  margin-bottom: 0;
  font-family: var(--font-primary); }

.header .logo img h1 span {
  color: var(--color-primary); }

.img-header {
  width: 100%;
  height: 3rem; }

.linea {
  padding: 0.5rem;
  border-bottom: 0.5px solid rgba(204, 204, 204, 0.305); }

.header-scrolled,
.header-inner-pages {
  background: rgba(0, 0, 0, 0.8); }

header.abajo {
  background: rgba(0, 0, 0, 0.856);
  padding: 15px 20px;
  transition: 0.5s; }

/*--------------------------------------------------------------
# Contact Section
--------------------------------------------------------------*/
.contact {
  padding: 50px 0; }
  .contact .info-item {
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.08);
    padding: 20px 0 30px 0; }
    .contact .info-item i {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 56px;
      height: 56px;
      font-size: 24px;
      line-height: 0;
      color: var(--color-primary);
      border-radius: 50%;
      border: 2px dotted var(--color-primary); }
    .contact .info-item h3 {
      font-size: 20px;
      color: #6c757d;
      font-weight: 700;
      margin: 10px 0; }

.contact
.contact .info-item
.contact .info-item
.contact .info-item p {
  padding: 0;
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0; }

.contact .php-email-form {
  width: 100%;
  background: #fff;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.08);
  padding: 30px; }

.contact .php-email-form .form-group {
  padding-bottom: 20px; }

.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #df1529;
  text-align: left;
  padding: 15px;
  font-weight: 600; }

.contact .php-email-form .error-message br + br {
  margin-top: 25px; }

.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #059652;
  text-align: center;
  padding: 15px;
  font-weight: 600; }

.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px; }

.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #059652;
  border-top-color: #fff;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite; }

.contact .php-email-form input,
.contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px; }

.contact .php-email-form input:focus,
.contact .php-email-form textarea:focus {
  border-color: var(--color-primary); }

.contact .php-email-form input {
  height: 44px; }

.contact .php-email-form textarea {
  padding: 10px 12px; }

.contact .php-email-form button[type="submit"] {
  background: var(--color-primary);
  border: 0;
  padding: 10px 35px;
  color: #fff;
  transition: 0.4s;
  border-radius: 5px; }

.contact .php-email-form button[type="submit"]:hover {
  background: var(--color-secondary); }

/* Fuentes */
:root {
  --font-default: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-primary: "Roboto", sans-serif;
  --font-secondary: "Work Sans", sans-serif; }

/* Colores*/
:root {
  --color-default: #261a10;
  --color-primary: #402d1c;
  --color-secondary: #d6b486; }

/* Smooth scroll behavior */
:root {
  scroll-behavior: smooth; }

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: var(--font-default);
  color: var(--color-default);
  overflow-x: hidden;
  background-color: #f5f6f7; }

a {
  color: var(--color-primary);
  text-decoration: none; }

a:hover {
  color: #d6b486;
  text-decoration: none; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-primary); }

/*--------------------------------------------------------------
# Sections & Section Header
--------------------------------------------------------------*/
section {
  padding: 40px 0;
  overflow: hidden; }

.section-bg {
  background-color: #f5f6f7; }

.section-header {
  text-align: center;
  padding-bottom: 70px;
  margin-top: 3rem; }

.section-header h2 {
  font-size: 32px;
  font-weight: 700;
  position: relative;
  color: #73695d; }

@media (min-width: 1199px) {
  .section-header p {
    max-width: 60%; } }

/*--------------------------------------------------------------
  # Scroll top button
  --------------------------------------------------------------*/
.scroll-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 99999;
  background: var(--color-primary);
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s; }
  .scroll-top i {
    font-size: 24px;
    color: var(--color-secondary);
    line-height: 0; }

.scroll-top:hover {
  background: #d6b486;
  color: #fff; }

.scroll-top.active {
  visibility: visible;
  opacity: 1; }

/*--------------------------------------------------------------
  # Preloader
  --------------------------------------------------------------*/
#preloader {
  position: fixed;
  inset: 0;
  z-index: 999999;
  overflow: hidden;
  background: #fff;
  transition: all 0.6s ease-out; }

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #fff;
  border-color: var(--color-primary) transparent var(--color-primary) transparent;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1.5s linear infinite;
  animation: animate-preloader 1.5s linear infinite; }

@-webkit-keyframes animate-preloader {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

/*--------------------------------------------------------------
  # Disable aos animation delay on mobile devices
  --------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important; } }

/*--------------------------------------------------------------
  # Desktop Navigation
  --------------------------------------------------------------*/
@media (min-width: 1280px) {
  .navbar {
    padding: 0; }
  .navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center; }
  .navbar li {
    position: relative; }
  .navbar > ul > li {
    white-space: nowrap;
    padding: 10px 0 10px 28px; }
  .navbar a,
  .navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3px;
    font-family: var(--font-primary);
    font-size: 14px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.6);
    text-transform: uppercase;
    white-space: nowrap;
    transition: 0.3s;
    position: relative; }
  .navbar a i,
  .navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px; }
  .navbar > ul > li > a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -6px;
    left: 0;
    background-color: var(--color-secondary);
    visibility: hidden;
    width: 0px;
    transition: all 0.3s ease-in-out 0s; }
  .navbar a:hover:before,
  .navbar li:hover > a:before,
  .navbar .active:before {
    visibility: visible;
    width: 100%; }
  .navbar a:hover,
  .navbar .active,
  .navbar .active:focus,
  .navbar li:hover > a {
    color: #fff; }
  .navbar .dropdown ul {
    display: block;
    position: absolute;
    left: 28px;
    top: calc(100% + 30px);
    margin: 0;
    padding: 10px 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s; }
  .navbar .dropdown ul li {
    min-width: 200px; }
  .navbar .dropdown ul a {
    padding: 10px 20px;
    font-size: 15px;
    text-transform: none;
    color: var(--color-default);
    font-weight: 400; }
  .navbar .dropdown ul a i {
    font-size: 12px; }
  .navbar .dropdown ul a:hover,
  .navbar .dropdown ul .active:hover,
  .navbar .dropdown ul li:hover > a {
    color: var(--color-primary); }
  .navbar .dropdown:hover > ul {
    opacity: 1;
    top: 100%;
    visibility: visible; }
  .navbar .dropdown .dropdown ul {
    top: 0;
    left: calc(100% - 30px);
    visibility: hidden; }
  .navbar .dropdown .dropdown:hover > ul {
    opacity: 1;
    top: 0;
    left: 100%;
    visibility: visible; } }

@media (min-width: 1280px) and (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%; }
  .navbar .dropdown .dropdown:hover > ul {
    left: -100%; } }

@media (min-width: 1280px) {
  .mobile-nav-show,
  .mobile-nav-hide {
    display: none; } }

/*--------------------------------------------------------------
# Mobile Navigation
--------------------------------------------------------------*/
@media (max-width: 1279px) {
  .navbar {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    max-width: 400px;
    bottom: 0;
    transition: 0.3s;
    z-index: 9997; }
  .navbar ul {
    position: absolute;
    inset: 0;
    padding: 50px 0 10px 0;
    margin: 0;
    background: rgba(0, 0, 0, 0.8);
    overflow-y: auto;
    transition: 0.3s;
    z-index: 9998; }
  .navbar a,
  .navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    font-family: var(--font-primary);
    font-size: 15px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.7);
    white-space: nowrap;
    text-transform: uppercase;
    transition: 0.3s; }
  .navbar a i,
  .navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px; }
  .navbar a:hover,
  .navbar .active,
  .navbar .active:focus,
  .navbar li:hover > a {
    color: #fff; }
  .navbar .dropdown ul,
  .navbar .dropdown .dropdown ul {
    position: static;
    display: none;
    padding: 10px 0;
    margin: 10px 20px;
    transition: all 0.5s ease-in-out;
    border: 1px solid #222428; }
  .navbar .dropdown > .dropdown-active,
  .navbar .dropdown .dropdown > .dropdown-active {
    display: block; }
  .mobile-nav-show {
    position: relative;
    color: #fff;
    font-size: 28px;
    cursor: pointer;
    line-height: 0;
    transition: 0.5s;
    z-index: 9999;
    padding-right: 10px; }
  .mobile-nav-hide {
    color: #fff;
    font-size: 32px;
    cursor: pointer;
    line-height: 0;
    transition: 0.5s;
    position: fixed;
    right: 20px;
    top: 20px;
    z-index: 9999; }
  .mobile-nav-active {
    overflow: hidden; }
  .mobile-nav-active .navbar {
    right: 0; }
  .mobile-nav-active .navbar:before {
    content: "";
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 9996; } }

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

@keyframes animate-loading {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

h2.linea2:before {
  border-top: 2px solid #d7ccc8;
  content: "";
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  z-index: -1; }

h2.linea2 span {
  background: #f5f6f7;
  padding: 0 15px; }

/*SERVICIOS*/
.services .service-item {
  display: flex;
  flex-direction: column;
  padding: 35px;
  background: #fff;
  height: 24rem;
  border-width: 0.1px;
  border-style: solid;
  border-radius: 10px;
  border-color: #d7ccc8; }
  .services .service-item .icon {
    height: 65px; }
    .services .service-item .icon i {
      color: #73695d;
      font-size: 40px;
      transition: ease-in-out 0.3s;
      z-index: 2;
      position: relative;
      line-height: 1.8; }
    .services .service-item .icon .imgServicios {
      width: 50px; }
  .services .service-item h3 {
    color: #73695d;
    font-weight: 700;
    margin: 0 0 20px 0;
    padding-bottom: 8px;
    font-size: 22px;
    position: relative;
    display: inline-block;
    border-bottom: 2px solid #ebebed;
    transition: 0.3s; }
  .services .service-item p {
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
    color: #73695d; }

/*NOSOTROS*/
.nosotros {
  text-align: justify; }

.features .nav-tabs {
  border: 0; }

.features .nav-link {
  padding: 15px 0;
  transition: 0.3s;
  color: var(--color-secondary);
  border-radius: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 100%;
  border: 0;
  border-bottom: 4px solid #e2e4e6; }
  .features .nav-link i {
    padding-right: 15px;
    font-size: 48px; }
  .features .nav-link h4 {
    font-size: 18px;
    font-weight: 600;
    margin: 0; }

.features .tab-content {
  margin-top: 30px; }

.features .tab-pane h3 {
  font-weight: 700;
  font-size: 32px;
  position: relative;
  margin-bottom: 20px;
  padding-bottom: 20px; }

.features .tab-pane ul {
  list-style: none;
  padding: 0; }
  .features .tab-pane ul li {
    padding-top: 10px; }
  .features .tab-pane ul i {
    font-size: 20px;
    padding-right: 4px;
    color: var(--color-primary); }

.team img {
  width: 75%;
  height: 100%; }

.team p {
  margin-top: 3rem; }

.team .h4-dra {
  margin-top: 2rem; }

.team .social-links {
  font-size: 3em;
  margin-top: 15rem; }

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
.hero {
  overflow-x: hidden;
  padding: 0; }
  .hero .carousel {
    width: 100%;
    min-height: 80vh;
    padding: 80px 0;
    margin: 0;
    position: relative; }
  .hero .carousel-item {
    position: absolute;
    inset: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    z-index: 1;
    transition-duration: 0.4s; }
  .hero .carousel-item::before {
    content: "";
    background-color: rgba(30, 29, 29, 0.832);
    position: absolute;
    inset: 0; }
  .hero .info {
    position: absolute;
    inset: 0;
    z-index: 2; }

@media (max-width: 768px) {
  .hero .info {
    padding: 0 50px; } }

.info h2 {
  color: rgba(228, 228, 228, 0.92);
  margin-bottom: 30px;
  padding-bottom: 30px;
  font-size: 56px;
  font-weight: 700;
  position: relative; }

@media (max-width: 768px) {
  .hero .info h2 {
    font-size: 36px; } }

.hero .info p {
  color: rgba(255, 255, 255, 0.8);
  font-size: 18px; }

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer {
  color: #fff;
  background: url("../img/img-footer.jpeg") top center no-repeat;
  background-size: cover;
  font-size: 14px;
  padding: 80px 0 60px 0;
  position: relative; }

.footer:before {
  content: "";
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  inset: 0; }

.footer .footer-content .footer-info {
  margin-bottom: 30px; }

.footer .footer-content .footer-info h3 {
  font-size: 28px;
  margin: 0 0 20px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase; }

.footer .footer-content .footer-info h3 span {
  color: var(--color-primary); }

.footer .footer-content .footer-info p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: var(--font-primary);
  color: #fff; }

.footer .footer-content .social-links a {
  font-size: 18px;
  display: inline-block;
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  line-height: 1;
  margin-right: 8px;
  border-radius: 4px;
  width: 36px;
  height: 36px;
  transition: 0.3s; }

.footer .footer-content .social-links a:hover {
  background: var(--color-primary);
  text-decoration: none; }

.footer .footer-content h4 {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  position: relative;
  padding-bottom: 12px; }

.footer .footer-content .footer-links {
  margin-bottom: 30px; }

.footer .footer-content .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0; }

.footer .footer-content .footer-links ul li {
  padding: 8px 0; }

.footer .footer-content .footer-links ul li:first-child {
  padding-top: 0; }

.footer .footer-content .footer-links ul a {
  color: rgba(255, 255, 255, 0.6);
  transition: 0.3s;
  display: inline-block;
  line-height: 1; }

.footer .footer-content .footer-links ul a:hover {
  color: #fff; }

.footer .footer-legal .copyright {
  padding-top: 30px;
  border-top: 1px solid rgba(255, 255, 255, 0.15); }

.footer .footer-legal .credits {
  padding-top: 4px;
  font-size: 13px;
  color: #fff; }

.footer .footer-legal .credits a {
  color: var(--color-primary); }

.modal {
  color: black; }
